.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
height:100vh;
}

.btn {
  border-radius: 1.25rem;
}
/* .dashboard-navbar{
  display: flex;
  flex-direction: row
} */
.QA-table{
  overflow-y: auto;
  width: 80%;
}
.db-ab-names{
display: flex;
flex-direction: row;
}
.navbar-navs{
  display: flex;
flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.plus{
  /* color: red; */
  
 background-color:  linear-gradient(to bottom right, red, yellow);
}
.pls-btn{
  background-color:  linear-gradient(to bottom right, red, yellow);
}
.fa {
  font-size: 32px;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(red, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
