
  .trash-checkbox{
    overflow-y: auto;
    max-height: 170px;
    width: 100%;
  }
//   @import "compass/css3";

// button {
//   font-size:3rem;
//   background:none;
//   border:none;
// }

// .rotate {
//   @include transform(rotate(-90deg)); 
// }

// .icon-rotate {
//   @include transition-duration(0.4s);
//   display: inline-block;
// }