/* .login {
  margin-top: 50px;
  padding-left: 100;
  margin-left: 200;
  text-align: center
}
.createButton{
  color: blue;
} */

.service-button {
  width: 100%;
  display: flex;
  justify-content: space-around
}

.loginPage {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
 align-items: center;
 /* flex-direction: column; */
}

.loginCard {
  height:400px;
  /* height: 100vh; 
   width: 100%; */
  width:350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  padding: 30px;
}

.login-h2 {
  display: flex;
  justify-content: center;
  font-style: italic;
}
.login-buttons{
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 601px) {

  /* .loginCard {
    height: 500px;
    width: 440px;
    border: 2px solid burlywood;
    margin-top: 85px;
    margin-left: 420px;
  } */

  .fundoo {
    text-align: center;
    text-shadow: 1px 1px 2px #3e2723, 0 0 25px #d1c4e9, 0 0 5px #00bcd4;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
    font-style: italic;
  }

  .loginEmail {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .loginPassword {
    text-align: center;
  }

  .loginButton {
    /* margin-left: 300px; */
    display: flex;
    justify-content: center;
    padding-top: 18px;
    /* margin-top: 20px; */
    align-items: center;
    /* margin-right: -317px; */
    /* float: right; */
  }
  /* .login-importedcard {
    margin-left: 420px; 
    background-color: lightgrey;
    width: 688px;
    display: flex;
    height: 459px;
    justify-content: center;
    align-items: center;
  } */

  /*----------------------------------------login---------------------------------------*/
  .head {
    text-align: center;
    padding-top: 30px;
  }

  .upperCard1 {
    margin-left: 224px;
    width: 240px;
    /* z-index: 10; */
    height: 260px;
    margin-top: -316px;

  }

  .lowerCard1 {
    width: 240px;
    height: 260px;
    margin-top: 135px;
    /* padding: 99% 0% 7% 15%; */
    margin-left: 256px;
    background-color: #acacac;
    /* flex-direction: row;
    box-sizing: border-box;
    display:flex; */
  }

  .upperCard2 {
    margin-left: 591px;
    width: 240px;
    /* z-index: 10; */
    height: 260px;
    margin-top: -316px;
  }

  .lowerCard2 {
    width: 240px;
    height: 260px;
    margin-top: -203px;
    /* padding: 99% 0% 7% 15%; */
    margin-left: 622px;
    background-color: #acacac;
    /* flex-direction: row;
    box-sizing: border-box;
    display:flex; */
  }

  .signIn {
    margin-top: 90px;
    margin-left: 500px;
  }
}

/*----------------------------------------card---------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 375px),
only screen and (min-width: 425px) and (max-width:768px),
only screen and (min-width: 600px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  /* .allCard{
    display: flex;
    justify-content:center;
    margin-top: 150px;
  }
  .upperCard{
    height: 280px;
    width:250px;
    margin-left:-287px;
    
     */
  /* }
  .lowerCard{
    height: 280px;
    width:250px;
    margin-top: 50px;
    background-color: #acacac;
}
.addCartMsg{
  padding-top: 70px;
} */
}

/*----------------------------------------serviceCard---------------------------------------*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* .allCard {
  width: 38%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
} */
.allCard {
  /* width: 40%;
  display: flex;
  height: 190px; */
  width: 50%;
  display: flex;
  -ms-flex-pack: center;
  height: 196px;
  justify-content: center;
}

.upperCard {
  width: 97%;
  margin-left: -13%;
  margin-top: -22%;
  height: 105%;
}

.lowerCard {
  width: 42%;
  height: 111%;
}

.serviceCard_main {
  /* width: 83%; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.fundooNotes {
  margin-left: 80px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.serviceLogin {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.register-servicecard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1rem;
  width: 100%;
  margin-top: 5%;
}

#orange {
  background-color: orange;

}

/* #orange:hover {
   transition:width 1s;
   transition: height 1s;
   box-shadow: 15px 15px orange;
} */

/*---------------------------------------------serviceCard--------------------------------------------------*/
.registerPage {
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.registerCard {
  width: 68%;
  height: auto;
  /* display: -ms-flexbox; */
  display: flex;
  padding: 6% 0% 5% 0%;
  /* -ms-flex-direction: column; */
  flex-direction: column;
}

.register-fundoo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-shadow: 1px 1px 2px #3e2723, 0 0 25px #d1c4e9, 0 0 5px #827717;
}

.register-names {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.register-h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-h2 {
  display: flex;
  justify-content: center;

}

.register-email {
  padding-left: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.register-password {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .register-cardtag{
  width: 965px;
  display: flex;
} */
.register-submitButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 63px;
}

/*---------------------------------------------register--------------------------------------------------*/

.forgotpass-page {
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.forgotpass-card {
  width: 38%;
  height: 45vh;
  display: flex;
  padding: 1% 1% 1% 1%;
  flex-direction: column;
}

.forgotpass-fundoo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.forgotpass-h2 {
  padding-left: 82px;
}

.forgot-email {
  padding-left: 40px;
}

.forgotpass-button {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

/*---------------------------------------------forgotpass--------------------------------------------------*/
.dashboardpage-maindiv {
  width: 100%;
  /* display: flex; */
  height: auto;
  /* justify-content: center; */
}

.dashboard-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.dashboard-maincard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.dashboard-appbar {
  position: fixed;
  padding: 8px;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

/* .dashboard-menuIcon {
  padding-left: 10px;
} */

.dashboard-imageandfundoo {
  display: flex;
  align-items: center;
}

.dashboard-fundooname {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Product Sans', Arial, sans-serif;
  position: relative;
  vertical-align: middle;
  top: -1.5px;
  color: #5f6368;
  /* padding:0px,0px,0px,4px; */
  padding-left: 10px;
  padding-right: 70px;
}

.dashboard-searchbar {
  background: none;
  padding: 10px 0;
  background-color: #f1f3f4;
  width: 100%;
}

.searchicon {
  /* padding:8px; */
  background-color: #f1f3f4;
  color: #5f6368;
  /* background: none; */
}

.searchdiv {
  height: 52px;
  width: 133px;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.cleardiv {
  height: 52px;
  width: 133px;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.clearicon {
  padding: 8px;
  background-color: #f1f3f4;
  color: #5f6368;
}

/* .settingicon{
  color: #5f6368;
  position: absolute;

} */
.refreshicon {
  color: #5f6368;
  /* padding-left: 80px; */
  /* position: absolute; */
  /* right: 150px; */
}

.refreshdiv {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* .avatar {
  position: absolute;
  display: flex;
  padding-right: 10px;
} */

/*---------------------------------------------dashboard--------------------------------------------------*/
.createNotes-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.createNotes-card1 {
  height: 22px;
  width: 600px;
  display: flex;
  padding-left: 30px;
  border-color: #e0e0e0;
  align-content: center;
  padding: 12px 16px 12px 16px;
  color: #5f6368;
  font-size: 22px;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  /* margin-top: 20%; */
  /* position: absolute; */
  margin-top: 10%;
}

.createNotes-card2 {
  /* height: 136px; */
  height: auto;
  width: 600px;
  display: flex;
  /* justify-content: center; */
  border-color: #e0e0e0;
  /* margin-top: 20%; */
  /* position: absolute; */
  margin-top: 10%;
  flex-direction: column;
}

.createNotes-card2-div2 {
  border-radius: 30px 30px 30px 30px;
}

.notes-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding: 6px 6px 6px 0px;
}

.notes-icon-div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.createNotes-input {
  padding-top: 20px;
  padding-left: 13px;
}

.createNotes-iconsize {
  width: 4%;
}
/* .createNotes-card2-takeNotes{
  align-items: center;
  display: flex;
  justify-content: center;
} */
/*---------------------------------------------createNotes--------------------------------------------------*/
.get-card1 {
  min-width: auto;
  min-height: auto;
  /* border: 1px solid whitesmoke; */
  border-radius: 1em;

}

.get-in1 {
  width: auto;
}

.get-in2 {
  width: auto;
}


.get-page {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.get-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.get-contents {
  padding-bottom: 3%;
  height: auto;
  width: 29%;
  
}

.dashboardpage-allnotes {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

/*---------------------------------------------getAllNotes--------------------------------------------------*/
.drawer-container{
  display: flex;
  align-items: center;
  position: fixed;
  /* width: 25% */
}
.drawer-names{
  padding-left: 32px;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    color: #202124;
}
.drawer-div1{
 width: 60%;
}
.gellAllNotes-icons{
  display: flex;
  justify-content: space-around;
  color:white;
}
#gellAllNote-icons:hover{
  color:black;
}
/*---------------------------------------------drawerComponent--------------------------------------------------*/
.colorpalette-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 9%;
  height: 10%;
}
.color-styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------------colorPalette--------------------------------------------------*/