.login {
  margin-top: 50px;
  padding-left: 100;
  margin-left: 200;
  text-align: center
}
.createButton{
  color: blue;
} */

.service-button {
  width: 100%;
  display: flex;
  justify-content: space-around
}

.loginPage {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.loginCard {
  height: 400px;
  /* height: 100vh; 
   width: 100%; */
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  padding: 30px;
}

.login-h2 {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.login-buttons {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 601px) {

  /* .loginCard {
    height: 500px;
    width: 440px;
    border: 2px solid burlywood;
    margin-top: 85px;
    margin-left: 420px;
  } */

  .fundoo {
    text-align: center;
    text-shadow: 1px 1px 2px #3e2723, 0 0 25px #d1c4e9, 0 0 5px #00bcd4;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
    font-style: italic;
  }

  .loginEmail {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .loginPassword {
    text-align: center;
  }

  .loginButton {
    /* margin-left: 300px; */
    display: flex;
    justify-content: center;
    padding-top: 18px;
    /* margin-top: 20px; */
    align-items: center;
    /* margin-right: -317px; */
    /* float: right; */
  }

  /* .login-importedcard {
    margin-left: 420px; 
    background-color: lightgrey;
    width: 688px;
    display: flex;
    height: 459px;
    justify-content: center;
    align-items: center;
  } */

  /*----------------------------------------login---------------------------------------*/
  .head {
    text-align: center;
    padding-top: 30px;
  }

  .upperCard1 {
    margin-left: 224px;
    width: 240px;
    /* z-index: 10; */
    height: 260px;
    margin-top: -316px;

  }

  .lowerCard1 {
    width: 240px;
    height: 260px;
    margin-top: 135px;
    /* padding: 99% 0% 7% 15%; */
    margin-left: 256px;
    background-color: #acacac;
    /* flex-direction: row;
    box-sizing: border-box;
    display:flex; */
  }

  .upperCard2 {
    margin-left: 591px;
    width: 240px;
    /* z-index: 10; */
    height: 260px;
    margin-top: -316px;
  }

  .lowerCard2 {
    width: 240px;
    height: 260px;
    margin-top: -203px;
    /* padding: 99% 0% 7% 15%; */
    margin-left: 622px;
    background-color: #acacac;
    /* flex-direction: row;
    box-sizing: border-box;
    display:flex; */
  }

  .signIn {
    margin-top: 90px;
    margin-left: 500px;
  }
}

/*----------------------------------------card---------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 375px),
only screen and (min-width: 425px) and (max-width:768px),
only screen and (min-width: 600px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  /* .allCard{
    display: flex;
    justify-content:center;
    margin-top: 150px;
  }
  .upperCard{
    height: 280px;
    width:250px;
    margin-left:-287px;
    
     */
  /* }
  .lowerCard{
    height: 280px;
    width:250px;
    margin-top: 50px;
    background-color: #acacac;
}
.addCartMsg{
  padding-top: 70px;
} */
}

/*----------------------------------------serviceCard---------------------------------------*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* .allCard {
  width: 38%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
} */
.allCard {
  /* width: 40%;
  display: flex;
  height: 190px; */
  width: 50%;
  display: flex;
  -ms-flex-pack: center;
  height: 196px;
  justify-content: center;
}

.upperCard {
  width: 97%;
  margin-left: -13%;
  margin-top: -22%;
  height: 105%;
}

.lowerCard {
  width: 42%;
  height: 111%;
}

.serviceCard_main {
  /* width: 83%; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.fundooNotes {
  margin-left: 80px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.serviceLogin {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.register-servicecard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1rem;
  width: 100%;
  margin-top: 5%;
}

#orange {
  background-color: orange;

}

/* #orange:hover {
   transition:width 1s;
   transition: height 1s;
   box-shadow: 15px 15px orange;
} */

/*---------------------------------------------serviceCard--------------------------------------------------*/
.registerPage {
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.registerCard {
  width: 68%;
  height: auto;
  /* display: -ms-flexbox; */
  display: flex;
  padding: 6% 0% 5% 0%;
  /* -ms-flex-direction: column; */
  flex-direction: column;
}

.register-fundoo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-shadow: 1px 1px 2px #3e2723, 0 0 25px #d1c4e9, 0 0 5px #827717;
}

.register-names {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.register-h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-h2 {
  display: flex;
  justify-content: center;

}

.register-email {
  /* padding-left: 10px;
  padding-left: 100px;
  padding-right: 100px; */
  width: 46vw;
  margin-left: 137px;
  display: flex;
}

.register-password {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .register-cardtag{
  width: 965px;
  display: flex;
} */
.register-submitButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 63px;
}

/*---------------------------------------------register--------------------------------------------------*/

.forgotpass-page {
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.forgotpass-card {
  width: 38%;
  height: 45vh;
  display: flex;
  padding: 1% 1% 1% 1%;
  flex-direction: column;
}

.forgotpass-fundoo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.forgotpass-h2 {
  padding-left: 82px;
}

.forgot-email {
  padding-left: 40px;
}

.forgotpass-button {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

/*---------------------------------------------forgotpass--------------------------------------------------*/
.dashboardpage-maindiv {
  /* animation: pulse 5s infinite; */
  width: 100%;
  /* display: flex; */
  height: auto;
  /* justify-content: center; */
}

.dashboard-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* @keyframes pulse {
  0% {
    background-color: #cfd8dc
  }

  100% {
    background-color: whitesmoke;
  }
} */

.dashboard-maincard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.dashboard-appbar {
  /* position: fixed; */
  padding: 8px;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

/* .dashboard-menuIcon {
  padding-left: 10px;
} */

.dashboard-imageandfundoo {
  display: flex;
  align-items: center;
}

.dashboard-fundooname {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Product Sans', Arial, sans-serif;
  position: relative;
  vertical-align: middle;
  top: -1.5px;
  color: #5f6368;
  /* padding:0px,0px,0px,4px; */
  padding-left: 10px;
  padding-right: 70px;
  min-width: 0px;
}

.dashboard-searchbar {
  background: none;
  padding: 10px 0;
  background-color: #f1f3f4;
  width: 100%;
}

.dashboard-searchbar1 {
  background: none;
  padding: 10px 0;
  width: 100%;
}

.searchicon {
  /* padding:8px; */
  background-color: #f1f3f4;
  color: #5f6368;
  /* background: none; */
}

.searchicon1 {
  color: #5f6368;
}

.searchdiv {
  height: 52px;
  width: 90px;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.searchdiv1 {
  height: 52px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.cleardiv {
  height: 52px;
  width: 133px;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.cleardiv1 {
  height: 52px;
  width: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.clearicon {
  padding: 8px;
  background-color: #f1f3f4;
  color: #5f6368;
}

.clearicon1 {
  padding: 8px;
  color: #5f6368;
}

.searchcard {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchcard1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* width: 60%; */
  background-color: #FEEFC3;
}

/* .settingicon{
  color: #5f6368;
  position: absolute;

} */
.refreshicon {
  /* animation: rotate-spin 5s linear; */
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  color: #5f6368;
  /* padding-left: 80px; */
  /* position: absolute; */
  /* right: 150px; */

}

/* rotate90: {
  transform: [{ rotate: '90deg' }]
} */
/* .refreshicon-spin {
  -webkit-animation: refreshicon-spin 2s infinite linear;
          animation: refreshicon-spin 2s infinite linear;
} */
/* @keyframes rotate-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
} */
@-moz-keyframes spin {
  50% {
    -moz-transform: rotateY(90deg);
  }
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotateY(90deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

.refreshdiv {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.avatar {
  width: 45px;
  height: 45px;

}

.ref-list-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* color: #5f6368; */
  width:60%;
  color: lightslategray;
}
.dashboard-searchbar-div{
  width:87%;
  
}
.ref-list-grid-avtar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 width:55%;
}
.dashboard-searchbar{
  border-radius: 0px 10px 10px 0px;

}
.dashboard-mob-search-card{
  display: none;
}
.menu-icon{
  display: flex;
}
.refresh {
  animation: rotate-spin 1s linear;
}

@keyframes rotate-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/*---------------------------------------------dashboard--------------------------------------------------*/
.createNotes-page {
  /* animation: pulse 5s infinite; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* @keyframes pulse {
  0% {
    background-color: lightgray;
  }

  100% {
    background-color: whitesmoke;
  }
} */

.createNotes-card1 {
  height: 22px;
  width: 600px;
  display: flex;
  padding-left: 30px;
  border-color: #e0e0e0;
  align-content: center;
  padding: 12px 16px 12px 16px;
  color: #5f6368;
  font-size: 22px;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  /* margin-top: 20%; */
  /* position: absolute; */
  justify-content: space-between;
  margin-top: 10%;
  
}

.createNotes-card2 {
  /* height: 136px; */
  height: auto;
  width: 600px;
  display: flex;
  /* justify-content: center; */
  border-color: #e0e0e0;
  /* margin-top: 20%; */
  /* position: absolute; */
  margin-top: 10%;
  flex-direction: column;
}

.createNotes-card2-div2 {
  border-radius: 30px 30px 30px 30px;
}

.notes-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding: 6px 6px 6px 0px;
}

.notes-icon-div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.notes-icon-div2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.createNotes-input {
  padding-top: 20px;
  padding-left: 13px;
}

.createNotes-iconsize {
  width: 4%;
}

/* .createNotes-card2-takeNotes{
  align-items: center;
  display: flex;
  justify-content: center;
} */
.createnotes-done{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.createNotes-card2-checklist{
  display: flex;
  width: 96%;
  border-radius: 30px 30px 30px 30px;

}
.createNotes-card2-checklist{
  display: flex;
  width: 96%;
  justify-content: space-between;
  flex-direction: row;
}
/*---------------------------------------------createNotes--------------------------------------------------*/
.get-card1 {
  min-width: auto;
  min-height: auto;
  /* border: 1px solid whitesmoke; */
  border-radius: 1em;
}

.get-in1 {
  width: auto;
}

.get-in2 {
  width: auto;
}


.get-page {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.container {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.container1 {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get-contents {
  padding-bottom: 3%;
  height: auto;
  width: 31%;
  min-width: 200px;
}

.get-contents1 {
  width: 100%;
  padding-bottom: 3%;
}

.dashboardpage-allnotes {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.get-card2 {
  min-width: 40vw;
  /* min-width: 28vw; */
  min-height: auto;
  border: 1px solid whitesmoke;
}

.chip {
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 2%;
}
.getAllNotes-colab-card{
  padding: 10px;
  display: flex;
}
.input1{
  font-weight: bold;
  color: #5f6368;
  
}
.input2{
  opacity: 0.6;
}
.transitionLeft{
  margin-left :24%;
  width:calc(100%-30%)!important;
transition: margin-left 0.25s;
}
/*---------------------------------------------getAllNotes--------------------------------------------------*/
.drawer-container {
  display: flex;
  align-items: center;
  position: fixed;
  /* width: 25% */
}

.drawer-names {
  padding-left: 32px;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  color: #202124;
}

.drawer-div1 {
  width: 60%;
}

.gellAllNotes-icons {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  /* color:white; */
  /* padding-top: 10%; */
}

.get-card1:hover .gellAllNotes-icons 

 /* .gellAllNotes-icons:hover  */
  {
  visibility: visible;
}
.get-card2:hover{
  visibility: visible;
}
#gellAllNote-icons:hover {
  color: black;
}

.drawer-label {
  padding: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drawer-labels {
  overflow-y: scroll;
  height: 55%;
  font-size: 15px;
  /* display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;  */
}
.drawer-data:focus {
  background-color:#FEEFC3;
}
/*---------------------------------------------drawerComponent--------------------------------------------------*/
.colorpalette-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 9%;
  height: 10%;
}

.color-styles {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  flex-wrap: wrap;
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 46px;
}

/*---------------------------------------------colorPalette--------------------------------------------------*/
/* .color-style{
  flex-wrap: wrap;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-left: 46px;
} */
/*---------------------------------------------trashComponent--------------------------------------------------*/

.trash-checkbox {
  overflow-y: auto;
  max-height: 150px;
  width: 100%;
}

.account-paper {
  width: 100%;
}
.keep-image{
  display: flex;
}
.keep-image1{
display: none;
}
.dashboard-fundooname1{
  display: none
}
/*---------------------------------------------trashComponent--------------------------------------------------*/
@media all and (max-width:415px) {
  /* @media all and (max-width:600px) { */
  .container {
    /* width: 70vw; */
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    transform: none;
    transition:none;
  }

  .dashboardpage-allnotes {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;

  }

  .createNotes-card1 {
    height: 22px;
    width: 600px;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30px;
    border-color: #e0e0e0;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 12px 16px 12px 16px;
    color: #5f6368;
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    margin-left: 6px;
    margin-top: 24%;
  }

  .createNotes-card2 {
    height: auto;
    width: 600px;
    display: -ms-flexbox;
    display: flex;
    border-color: #e0e0e0;
    margin-top: 22%;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .dashboard-fundooname {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Product Sans', Arial, sans-serif;
    position: relative;
    vertical-align: middle;
    top: -1.5px;
    color: #5f6368;
    padding-left: 10px;
    padding-right: 0px;
    min-width: 3px;
  
  }
  /* .searchcard{
    display: none;
} */
/* .dashboard-searchbar1{
  display: none;
} */
.dashboard-searchbar{
  display: none;
}
.dashboard-searcdiv1{
  display: none;
}
  .searchdiv {
    height: 52px;
    /* width: 33px; */
    width: 20px;
    background-color: white;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}
.searchicon {
  background-color:white;
  color: #5f6368;
}
.searchcard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  /* width: 12%; */
  width: 100%;
}
.dashboard-searchbar-div{
  display: none;

}
.ref-list-grid-avtar{
display: flex;
justify-content:space-evenly;
flex-direction: row;
width: 100%;
min-width: 51%;
}
.ref-list-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: space-evenly;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  /* color: #5f6368; */
  color: lightslategray;
  width:39%;
}
.dashboard-mob-search-card{
  width: 100%;
}
.dashboard-mob-searchbar{
  width: 50%;
}

.dashboard-mob-search-card{
  display: flex;
}
.get-contents {
  padding-bottom: 3%;
  height: auto;
  width: 100%;
  min-width: 200px;
}

/* .get-contents1 {
  transform: none;
  transition:none;
}

.get-card2 {
  transform: none;
  transition:none;
}
.get-contents1 {
  transform: none;
  transition:none;
}
.container1 {
  transform: none;
  transition:none;
} */
.cleardiv {
display: none;
}
.menu-icon1{
  display: none;
}
.grid-view{
  display: none;
}
.shoping-page{
  display: flex;
justify-content: center;
/* width: 100%; */
/* margin-top: 20%; */
flex-direction: column;
}
.shopping-advance-info3 {
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  padding: 10px;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  place-content: stretch center;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  min-width: 91%;
  /* min-width: 37%; */
  margin: 15px 15px 15px 15px;
}
}
/* @media all and (max-width:568px ) and (min-width:320px) {

} */
/*---------------------------------------------mediaQuarry--------------------------------------------------*/
.avatar1 {
  width: 80px;
  height: 80px;
  margin: 3%;
}

.account-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 2px 10px 0px;
  background-color: #f5f5f5;
}

.avtar-email-div {
  display: flex;
  flex-direction: row;
}

.account-name-email {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------accountComponent--------------------------------------------------*/
.reminder-paper {}

/*---------------------------------------------reminderComponent--------------------------------------------------*/
.getArchivepage-allnotes {
  width: 100%;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10%;
}

/*---------------------------------------------getArchive--------------------------------------------------*/
.getTrash-icons {
  visibility: hidden;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  /* color: white; */
  padding-top: 10%;
  padding-bottom: 7%;
}

.get-card1:hover .getTrash-icons {
  visibility: visible;
}

/*---------------------------------------------getTrashComp--------------------------------------------------*/
.edit-label-input {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.edit-label-div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3% 0% 3% 0%;
}
.edit-label-labelmap{
  overflow-y:scroll;
   max-height : 250px;
   display: flex;
   flex-direction: column;
   padding: 23px;
}
.edit-label-card{
  min-width: 28vw;
  min-height: auto;
  border: 1px solid whitesmoke;
}
/*---------------------------------------------editlabel--------------------------------------------------*/
.collaborator-buttons{
  display: flex;
width: 94%;
      background-color: rgba(0,0,0,0.07);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 10px 15px;
}
.collaborator-avtar-email{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.collaborator-name-email{
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.collab-card1{
  overflow-y: scroll;
  height: 150px;
}
/*---------------------------------------------collaborator------------------------------------------------------*/
.editor-page{
  width: 82%;
display: flex;
flex-direction: column;
justify-content: space-around;
margin-top: 4%;

}
/* .editor-comp{
  margin-top: 10%;
} */
.editor-title{
  font-size: 28px;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  padding: 10px;
}
.editor-description{
  font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    word-wrap: break-word;
    padding: 10px;
}
.editor-close{
  display: flex;
  /* justify-content: flex-end; */
  /* margin-top:10%; */
}
.editor-close-title{
  display: flex;
  flex-direction: row;
  margin-top:6%;
  justify-content: space-between;
}
.editor-like-date{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.editor-assignment{
  /* display: flex;
  flex-direction: row; */
}
.editor-thumb{
  padding: 10px;
  display: flex;
}
.editor-questionasked{
  font-size: 20px;
  word-wrap: break-word;
}
.editor-contents{
  margin: 2% 0% 2% 0%;
  overflow-y: auto;
  max-height: 80px;
}
.editorPage{
  width:100%;
  display: flex;
  justify-content:center;
  /* padding: 30px; */
  
  }
  .editor-asked-msg{
    padding: 15px;
  }
  .editor-thumbsUp{
    padding-left: 15px;
  }
  .para-collab{
    display: flex;
    justify-content: space-between;
}


  
/*---------------------------------------------------editor-----------------------------------------------------*/
.shoping-page{
  display: flex;
justify-content: center;
/* width: 100%; */
/* margin-top: 10%; */
flex-direction: column;
}
.shopping-page{
display: flex;
justify-content: center;
flex-direction: column;

}
.shopping-page-div{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.shopping-name-stepper{
display: flex;
flex-direction: row;
}
.shopping-fundooname{
  background-color: #fb0;
  border-radius:5px;
  padding: 10px;
  color: white;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 15px 15px 15px 15px;

}
.shopping-stepper{
display: flex;
}
.shopping-shoppingCart{
margin: 15px 15px 15px 15px;
}
.shopping-div2{

}
.shopping-review{
  margin: 15px 15px 15px 15px;
}
.shopping-div3{
  margin: 10px 0px 10px 0px;
}
.shopping-browncard{
  font-size: 15px;
  padding: 5px;
  background-color: #797777;
  color: white;
  border-radius:5px;
  max-width: 100px;
  margin: 15px 15px 15px 15px;
}
.shopping-advance{
display:flex;
flex-direction: row;
flex-wrap: wrap;
}
.shopping-div3{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}
.shopping-advance-info1 {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px;
}
.shopping-advance-info2{
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px;
}
.shopping-advance-info3{
border: 1px solid #a7a7a7;
border-radius: 10px;
padding: 10px;
flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    flex: 1 1 25%;
    max-width:40%;
    margin: 15px 15px 15px 15px;

}
.shopping-advance-info4{
  margin: 15px 15px 15px 15px;

}
.shopping-advance-title{
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px;
}
.shopping-button1{
background-color: #0e89c2;
color: white;
border-radius: 3px;
border: none;
outline: none;
}
.shopping-button1-div{
  place-content: stretch center;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}
.shopping-subtotal{
  margin-bottom: 5%;
  place-content: stretch center;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}
.shopping-div4{
  display: flex;
    justify-content: space-between;
}
.shopping-div4-delivery{
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px;
  justify-content: center;

}
/*---------------------------------------------------shopping-----------------------------------------------------*/