.horizontal-layout {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.count {
    position: absolute;
    left: 100%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #FF0017;
    color: #fff;
    font-size: 11px;
    top: 2px;
    font-weight: 600;
    line-height: 1rem;
    border: none;
    text-align: center;
}

.bg-warning {
    background-color: #FF6F59
}

.bell {
    color: linear-gradient(30deg, #464de4, #814eff);
}

.img-xs {
    width: 37px;
    height: 37px;
}

.input-group {
    flex-wrap: nowrap;
}

.navbar.horizontal-layout .navbar-menu-wrapper .search-field .input-group-prepend .input-group-text {
    width: 15%;
    background: #f9f9fc;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 0.375rem 0.99rem;
}
// .navbar {
//     position:sticky;
//     top:0;
//     z-index: 1000;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0.5rem 1rem;
// }
// .navbar.horizontal-layout .nav-bottom.fixed-top {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 999;
// }
.navbar.horizontal-layout .navbar-menu-wrapper .search-field .form-control {
    width: 90%;
    background: #f9f9fc;
    border: none;
    border-radius: 0 50px 50px 0;
}

.navbar.horizontal-layout .nav-bottom .page-navigation>.nav-item {
    line-height: 1;
    width: 16.66%;
    text-align: center;
    // line-height: 1;
}

.navbar.horizontal-layout .nav-bottom .page-navigation>.nav-item.active>.nav-link {
    background: linear-gradient(30deg, #464de4, #814eff);
    color: #fff;
}

.container {
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
    margin-right: auto;
    margin-left: auto;
}

.navbar.horizontal-layout .nav-bottom .page-navigation>.nav-item>.nav-link {
    // color: #223C61;
    padding: 15px 10px;
    line-height: 1;
    font-weight: 600;
    transition-duration: 0.2s;
}

dl,
ol,
ul {
    padding-left: 1rem;
    font-size: 0.8rem;
}

input:focus {
    outline: none;
}

.navbar.horizontal-layout .nav-bottom {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    // display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
    -webkit-transition-property: position, left, right, top, z-index;
    -moz-transition-property: position, left, right, top, z-index;
    -o-transition-property: position, left, right, top, z-index;
    transition-property: position, left, right, top, z-index;
}

.navbar.horizontal-layout .nav-bottom .page-navigation>.nav-item>.nav-link .link-icon {
    margin-right: 10px;
    font-size: 1rem;
    color: #464de4;
}

.nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
    font-size: 0.9rem;
    margin-top: 0;
    position: absolute;
    top: calc(70px - 6px);
    // right: 0;
    // left: auto;
    border: 1px solid rgba(182, 182, 182, 0.1);
    padding: 0 0 20px;
    min-width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    overflow: hidden;
}
.dropdown-menu-right {
    right:0;
    left:auto;
}
.nav-item {
    line-height: 1;
}
.nav-container {
    display:flex;
}
.dropdown-menu{
    color: #223C61;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    z-index: 10000;
}
.dropdown-item {
    // display: block;
    width: 100%;
    // padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    // color: #223C61;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: 10px 25px;
    align-items: center;
    display: flex !important;
}
 .badge {
    margin-left: 2.5rem;
}
.py-3{
padding-bottom: 1rem !important;
}
// .badge{
//     display: inline-block;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: baseline;
// }
.badge-inverse-info {
    background: rgba(133, 123, 255, 0.3);
    color: #857bff;
}
.preview-item-content {
    line-height: 1;
    padding-left: 15px;
}
.preview-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.bg-inverse-success {
    color: #4CCEAC;
    border-color: #4CCEAC;
    background: rgba(76, 206, 172, 0.4);
}
.bg-inverse-warning {
    color: #FF6F59;
    border-color: #FF6F59;
    background: rgba(255, 111, 89, 0.4);
}
.bg-inverse-info {
    color: #857bff;
    border-color: #857bff;
    background: rgba(133, 123, 255, 0.4);
}
.small-text {
    font-size: 0.75rem;
}
.dropdown-divider {
    margin: 0;
}
.icon-lg {
    font-size: 2.5rem;
}
.text-primary {
    color: #464de4 !important;
}
.card-body {
    padding: 35px 25px;
}
.card-col {
    border-right: 1px solid #d5dcec;
}
.grid-margin {
    margin-bottom: 25px;
}
.content-wrapper {
    padding: 1.5rem 0;
    width: 100%;
    flex-grow: 1;
}
.page-body-wrapper {
    min-height: calc(100vh - 70px);
    background: #eff3f5;
    padding-left: 0;
    padding-right: 0;
}
.img-lg {
    width: 130px;
    height: 130px;
}
.main-panel {
    min-height: calc(100vh - 70px);
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
    margin-right: auto;
    margin-left: auto;
}
.fa {
    font-size: 32px;
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(bottom,#176BEF,#FF3E30,#F7B529,#179C52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
@media all and (max-width:991.98px) {
    .nav-bottom {
        display: none;
    }

    .nav-container {
        display:none;
    }
.navbar.horizontal-layout .nav-bottom {
    display: none;
}
}